@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../media/login-bg.png") no-repeat center center fixed;
    background-size: cover;

    font-family: 'Roboto', sans-serif;
}

main {
    display: grid;
    place-items: center;

    width: 100vw;
    height: 100vh;
}

#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 20vw;
    height: 58vh;

    background: white;
    border-radius: 6px;
}

#lbs-logo {
    width: 16rem;
    margin-top: 2.5rem;
    margin-bottom: 1.2rem;
}

#login-container .divider {
    border: none;
    width: 18vw;
    height: 1px;
    background-color: rgb(223, 223, 223);
}



/**************/
/* LOGIN FORM */
/**************/
#login-form {
    width: 14vw;
    margin-top: 2.2rem;
}

#login-form .form-error {
    color: red;
}

#login-form .field-wrapper {
    /* background: red; */
    height: 5.5rem;
    
    display: block;
}

#login-form .input-wrapper {
    display: flex;
    align-items: center;

    height: 2.8rem;

    padding-left: 10px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 6px;
}

#login-form .input-wrapper:focus-within {
    border: 1px solid rgb(62, 119, 156);
    outline: none;
    box-shadow: 0 0 4px rgb(108, 187, 240);
}

#login-form .field-wrapper .errorlist {
    list-style: none;

    color: rgb(224, 3, 3);
}


/**********************/
/* LOGIN FORM - EMAIL */
/**********************/
#login-form .field-wrapper input[name="username"] {
    all: unset;

    width: 100%;
    height: 24px;

    padding-left: 10px;
}


/*************************/
/* LOGIN FORM - PASSWORD */
/*************************/
#login-form .field-wrapper input[name="password"] {
    all: unset;

    width: 100%;
    height: 24px;

    padding-left: 10px;
}

#login-form button {
    all: unset;

    width: 100%;
    height: 60px;

    margin-top: 1.8rem;
    background: rgb(0, 169, 221);
    border-radius: 6px;

    text-align: center;
    font-size: 2.4em;
    font-weight: bold;
    color:white;
    text-transform: uppercase;
}

#login-form button:hover {
    filter: brightness(105%);
    transform: scale(1.01);
}

.website-lib-tag {
    margin-top: 2.4rem;
    color: grey;
}